body {
    background-color: #7C83FD;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48em;
}

h1 {
    text-align: center;
}

.item {
    flex: 1;
}

.item-top {
    align-self: flex-start;
}

.item-bottom {
    align-self: flex-end;
}